---
import Card from "../components/Card.astro";
import ToggleSwitch from "../components/ToggleSwitch.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl mb-4">Online Editor</h1>
  <div x-data="joke">
    <!--PREVIEW -->
    <h2 class="text-xl mt-4">Preview</h2>
    <div class="border border-dashed mt-2 p-4 bg-blue-100">
      <h2 class="text-xl" x-text="title">n/a</h2>
      <p x-text="question" class="my-2">n/a</p>
      <p
        x-text="answer"
        x-show="showAnswer"
        class="italic border-l-2 pl-2 py-2 my-2"
      >
        n/a
      </p>
    </div>
    <!--EDIT -->
    <div>
      <h2 class="text-xl mt-4">Live Edit</h2>
      <input
        type="text"
        x-model="title"
        class="border w-full mt-2 p-2 rounded"
      />
      <textarea
        x-model="question"
        rows="3"
        class="border w-full mt-2 min-h-20 p-2 rounded"></textarea>
      <textarea
        x-model="answer"
        rows="3"
        class="border w-full mt-2 min-h-20 p-2 rounded"></textarea>
      <ToggleSwitch
        label="Show the answer by default"
        x-model="showAnswer"
        class="mt-2"
      />
      <div class="mt-4">
        <button disabled class="btn">Save</button>
        <button disabled class="btn btn-neutral">Add</button>
      </div>
    </div>
    <!--LIST -->
    <!-- <button class="btn mt-4" @click="loadData">Load</button> -->
    <div>
      <h2 class="text-xl mt-4">Available Jokes</h2>
      <ul class="list-inside list-disc ml-2">
        <template x-for="joke in jokes">
          <li class="cursor-pointer" x-text="joke.title" @click="load(joke)">
          </li>
        </template>
      </ul>
    </div>
    <!-- end of x-data -->
  </div>
</Layout>

<script>
  import Alpine from "alpinejs";
  import { API_URL } from "../lib/constants";
  import type { Joke, Jokes } from "../lib/models";

  document.addEventListener("alpine:init", () => {
    Alpine.data("joke", () => ({
      title: "Anhalter",
      question:
        "What is the ultimate question of life, the universe, and everything?",
      answer: "The answer is 42",
      showAnswer: true,
      jokes: [],
      toggle() {
        this.showAnswer = !this.showAnswer;
      },
      init() {
        console.log(`Loading data from ${API_URL}`);
        fetch(API_URL)
          .then((response) =>
            response.json().then((json) => {
              this.jokes = json;
              console.log(`Loaded ${this.jokes.length} joke(s)`);
            }),
          )
          .catch((ex) => {
            console.error(ex);
            throw Error("Invalid API data!");
          });
      },
      load(joke: Joke) {
        this.title = joke.title;
        this.question = joke.question;
        this.answer = joke.answer;
        this.showAnswer = joke.showAnswer;
      },
    }));
  });
</script>

<!-- <xxxscript is:inline>
  import Alpine from "alpinejs";

  async function loadData() {
    let response = await fetch("/api/sampledata.json");

    return response.json();
  }
</scriptxxx> -->
