---
interface Props {
  id?: string;
  class?: string;
  title?: string;
  question?: string;
  answer?: string;
}
const {
  id: id = "default",
  title: title = "Hai, kennste den?",
  question: question,
  answer: answer,
  class: clazz,
  ...attrs
} = Astro.props;
---

<div
  id={"card-" + id}
  class:list={[
    "card rounded border border-gray-200 bg-slate-50 shadow-lg p-4",
    clazz,
  ]}
  {...attrs}
>
  <h2 class="text-2xl font-light">{title}</h2>
  {
    question && (
      <div id={"question-" + id} class="mt-4">
        {question}
      </div>
    )
  }
  {
    answer && (
      <div id={"answer-" + id} class="hidden mt-4 italic">
        {answer}
      </div>
    )
  }
</div>
