---
import ThumbsUpIcon from "./../assets/thumb-up-outline.svg";
import ThumbsDownIcon from "./../assets/thumb-down-outline.svg";

interface Props {
  class?: string;
  title?: string;
  question?: string;
  answer?: string;
}
const {
  title: title = "Hai, kennste den?",
  question: question,
  answer: answer,
  class: clazz,
  ...attrs
} = Astro.props;
---

<div
  class:list={[
    "card rounded border border-gray-200 bg-slate-50 shadow-lg",
    clazz,
  ]}
  x-data={"{ showAnswer: false }"}
  {...attrs}
>
  <!--title -->
  <h2 class="text-2xl font-light border-b border-gray-200 p-4">{title}</h2>

  <!--question  -->
  {
    question && (
      <div
        class="m-4 text-gray-800 text-lg cursor-pointer"
        x-on:click="showAnswer = true"
      >
        {question}
      </div>
    )
  }
  {
    answer && (
      <div
        class="m-4 italic text-blue-900 text-lg cursor-pointer border-l-5 border-double pl-4 py-2"
        x-cloak
        x-show="showAnswer"
        x-on:click="showAnswer = false"
      >
        {answer}
      </div>
    )
  }

  <div
    class="border-t border-slate-200 p-4 bg-slate-100 flex items-center justify-between"
  >
    <div class="flex gap-2">
      <button class="btn" disabled>&laquo; Prev</button>
      <button class="btn">Next &raquo;</button>
    </div>
    <div class="flex gap-2" x-cloak x-show="!showAnswer">
      <button class="btn btn-neutral flex row items-center gap-2 px-2!">
        <ThumbsUpIcon class="size-5 fill-green-500 " />
        <span>42</span>
      </button>
      <button class="btn btn-neutral flex row items-center gap-2 px-2!">
        <ThumbsDownIcon class="size-5 fill-red-500 " />
        <span>0</span>
      </button>
    </div>
  </div>
</div>
