---
import { ISPROD } from "../lib/constants";
---

<footer
  class="flex items-center justify-between border-t border-gray-200 p-4 text-gray-500"
>
  <div>A joke a day keeps the apple away.</div>
  <div>
    Made with <a href="/test">🖤</a> during
    <a
      href="https://session.pestilenz.org/"
      class="hover:underline"
      target="_blank">Session #55</a
    > on <a
      href="https://github.com/ramdacxp/heyhai"
      class="hover:underline"
      target="_blank">Github</a
    >.
    Uses {ISPROD ? "production" : "development"} server.
  </div>
</footer>
