---

---

<footer
  class="flex items-center justify-between border-t border-gray-200 p-4 text-gray-500"
>
  <div>A joke a day keeps the apple away.</div>
  <div>
    Made with 🖤 during <a
      href="https://session.pestilenz.org/"
      class="underline"
      target="_blank">Session #55</a
    > on <a
      href="https://github.com/ramdacxp/heyhai"
      class="underline"
      target="_blank">Github</a
    >.
  </div>
</footer>
