---
// Based on https://flowbite.com/docs/forms/toggle/#checked-state
interface Props {
  id?: string;
  checked?: boolean;
  class?: string;
  label?: string;
  "x-model"?: string;
}
const {
  id,
  checked = false,
  class: clazz,
  label: label,
  "x-model": xModel,
  ...attrs
} = Astro.props;
---

<label
  class:list={["inline-flex items-center cursor-pointer", clazz]}
  {...attrs}
>
  <input type="checkbox" value="" class="sr-only peer" x-model={xModel} {checked} />
  <div
    class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-2 peer-focus:ring-blue-200 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-800"
  >
  </div>
  <span class="ms-2">{label}</span>
</label>
